.selectors {
  display: flex;
  padding: 30px;
  font-size: 1.2rem;
  flex-wrap: wrap;
  box-shadow: 0 2px 5px 0 black;
  position: relative;
}
.links {
  position: absolute;
  top: -5px;
  right: 7px;
  float: right;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.links svg {
  height: 24px;
  width: 24px;
  color: black;
}

.selectors > div {
  padding: 20px;
}
.selectors > div > label {
  padding: 0px 10px;
}

.search {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search > input {
  height: 40px;
  width: 50%;
  min-width: 200px;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 10px;
}

input:hover,
select:hover {
  cursor: pointer;
}

.table {
  padding: 20px;
  width: 85vw;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
}

table {
  border-collapse: collapse;
}

.table table,
td,
th {
  max-width: 100%;
  min-width: 60px;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
  word-break: break-all;
}
.table tr:nth-child(2n + 1) {
  background: rgb(185, 117, 117);
}

.selected {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgb(254, 197, 197);
  height: max-content;
  min-height: 20vh;
  flex-direction: column;
  gap: 30px;
}
tr {
  background-color: #f1f1f1;
}

input {
  padding: 5px;
  width: 15vw;
}
.createOrder {
  display: flex;
  justify-content: space-around;
}
button {
  padding: 10px 20px;
  cursor: pointer;
  margin: 15px;
  box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}
button:active {
  transform: translate(1px, 3px);
}
button:first-child {
  background: rgb(51, 253, 0);
}
button:last-child {
  background: rgb(255, 255, 48);
}

#download {
  background: #fff;
  padding: 20px;
  position: relative;
}
dt {
  font-size: 1rem;
  font-weight: bold;
  margin: 5px 10px;
}

.date {
  position: absolute;
  right: 30px;
  top: 20px;
  padding: 5px 10px;
}
