.App{
  background: rgb(185, 117, 117);
  height: max-content;
  min-height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.selectors{
  display: flex;
  padding: 30px;
  font-size: 1.2rem;
  flex-wrap: wrap;
  box-shadow: 0 2px 5px 0 black;
}

.selectors>div{ 
  padding: 20px;
}
.selectors>div>label{
  padding: 0px 10px;
}

.search{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search>input{
  height:40px;
  width: 50%;
  min-width: 200px;
  border-radius: 15px;
  border:none;
  outline:none;
  padding: 10px;
}

input:hover,select:hover{
  cursor: pointer;
}

.table{
  padding: 20px;
  width: 80%;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
}


table,td,th{
  padding: 10px;
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
  cursor: pointer;
  word-break: normal;
}
.table>table>tbody>tr:nth-child(2n+1){
  background: rgb(185, 117, 117);
}

.selected{
  display: flex;
  align-items: center;
  padding:20px;
  background: rgb(254, 197, 197);
  height: max-content;
  min-height: 20vh;
  flex-direction: column;
  gap: 30px;
}
tr{
  background-color: #f1f1f1;
}

input{
  padding: 5px;
  width: 15vw;
}
.createOrder{
  display: flex;
  justify-content: space-around;
  
  
}
button{
  padding: 10px 20px;
  cursor: pointer;
  margin: 15px;
  box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}
button:active{
  transform: translate(1px,3px);
}
button:first-child{
  background: rgb(51, 253, 0);
}
button:last-child{
  background: rgb(255, 255, 48);
}

#download
{
  background: #fff;
  padding:20px;
}
dt{
  font-size: 1rem;
  font-weight: bold;
  margin: 5px 10px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(211, 134, 134);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(239, 186, 186);
}
